@{
    ViewData["Title"] = "Başarılı Başvuru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-box mt-100 mb-100">
    <div class="container">
        <div class="text-center">
            
            <h2 class="text-success">Başvurunuz başarıyla alınmıştır!</h2>
            <p class="font-md color-text-paragraph-2 mt-20">
                Teşekkür ederiz. Bilgileriniz başarıyla iletildi. En kısa sürede sizinle iletişime geçilecektir.
            </p>
            <div class="mt-40">
                <a class="btn btn-default hover-up" asp-controller="Home" asp-action="Index">Ana Sayfaya Dön</a>

            </div>
        </div>
    </div>
</section>